# ignore virtual environment directories
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração locais
.env

# Checkpoints do Jupyter
.ipynb_checkpoints/

# Logs
*.log

# files to ignore
data/