# ignore virtual environment directories
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration files
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Data files to ignore
data/raw/
data/interim/
data/processed/
